<h4>RAZER HUNTSMAN MINI ANALOG</h4>
<h1>MINIMAL FORM.<br>MAXIMUM PRECISION.</h1>
<h5>With the Razer Huntsman Mini Analog, the highest level of control now competes on a different scale. Meet our first 60% gaming keyboard with Razer Analog Optical Switches—a compact, portable weapon that offers the finest degree of execution.</h5>
imagem aqui<br>
fim do banner 1