<h2>DOUBLESHOT PBT KEYCAPS WITH SIDE-PRINTED SECONDARY FUNCTIONS</h2>
<h5>Premium, Textured Quality</h5>
<p>Designed for greater durability, the keycaps on this 60% gaming keyboard have a premium, textured quality that’ll never degrade to a shiny finish or have their labelling wear off with intense use. For easier reference when executing commands and hotkeys, side-printed secondary functions have also been added.</p>

IMG PRODUTO