<div class="container text-center px-5 spacing-y">
    <h2 class="big-medium-font green-font roboto-bold">60% FORM FACTOR.</h2>
    <h5 class="medium-font roboto-bold my-3">Portable, Streamlined Gaming Experience.</h5>
    <p class="small-font grey-font">Our 60% gaming keyboard is ideal for minimalist or smaller setups where desk space is a premium. Its compact build also means it travels well and is easier to position when gaming—allowing you to play more comfortably.</p>
</div>
<img src="/img/img5.jpg" class="img-fluid" alt="img5">