<div class="spacing-y d-flex justify-content-center text-center">
    <form action="">
        <h2 class="big-font green-font roboto-bold">BUY ON PRE ORDER!</h2>
        <h5 class="medium-font roboto-light py-3">Register your email below</h5>
        <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input" placeholder="E-mail" aria-describedby="inputGroup-sizing-default">
            <button type="submit" class="btn btn-light">SEND</button>
        </div>
    </form>
</div>