<section>
    img 2 anos de garantia
    <h3>WE’VE GOT YOU COVERED</h3>
    <h5>Get up to 2 years of warranty and access reliable tech <a href="">support</a>. Purchase directly from RazerStore and get 14 days risk-free returns.</h5>
</section>