<h2>RAZER™ ANALOG OPTICAL SWITCHES</h2>
<h5>Keystrokes with Variable Actuation Points</h5>
<p>Unlike traditional switches that can only execute one command per actuation, Razer™ Analog Optical Switches allow for multiple commands in a single keystroke. By being able to detect how far a key is pressed, they can trigger different commands based on actuation height.</p>

IMG1 <br>
<h4>ADJUSTABLE ACTUATION</h4>
<h5>Choose How You Play</h5>
<p>Unlike traditional switches that can only execute one command per actuation, Razer™ Analog Optical Switches allow for multiple commands in a single keystroke. By being able to detect how far a key is pressed, they can trigger different commands based on actuation height.</p>

IMG2 <br>
<h4>ANALOG INPUT</h4>
<h5>Finer Movement Control</h5>
<p>Do away with rigid 8-way WASD movement for FPS and racing games with switches capable of smooth 360-degree motion inputs just like analog joysticks and thumbsticks.</p>

IMG3 <br>
<h4>DUAL-STEP ACTUATION</h4>
<h5>Streamline Your Actions</h5>
<p>With the ability to set two functions within one keypress, you’ll be able to make more efficient plays especially when it comes to executing advanced combos and skill rotations.</p>

<a href="">Learn More</a>