IMG1 <br>
<h4>ONBOARD MEMORY AND LIGHTING PRESETS</h4>
<h5>Take Your Settings Anywhere</h5>
<p>Take your settings anywhere as you store and activate up to 5 keyboard profiles without the need for software, and personalize it further with a preloaded suite of Razer Chroma RGB lighting effects.</p>

IMG2 <br>
<h4>DETACHABLE TYPE-C CABLE</h4>
<h5>Easier Setup and Storage</h5>
<p>Unpack, plug and play with minimal fuss for all your LAN parties and tournaments, while a cable latch ensures that it stays securely connected during gameplay.</p>
<p>For those keen on customization, tailor the keyboard to suit your style by replacing its stock cable with our Razer PBT Keycap + Coiled Cable Upgrade Set—available in 4 striking colors.</p>

IMG3 <br>
<h4>ALUMINUM CONSTRUCTION</h4>
<h5>Greater Durability</h5>
<p>The casing is robust enough to withstand long hours of intense, regular use and has a clean matte finishing.</p>