<div class="containter px-5 spacing-y-5">
    <div class="row  px-5">
        <div class="col-4 text-center">
            <img src="/img/mini2_img1.jpg" class="img-fluid mb-5" alt="first_mini_image">
            <h4 class="green-font roboto-bold">ONBOARD MEMORY AND LIGHTING PRESETS</h4>
            <h5 class="roboto-bold my-3">Take Your Settings Anywhere</h5>
            <p class="grey-font">Take your settings anywhere as you store and activate up to 5 keyboard profiles without the need for software, and personalize it further with a preloaded suite of Razer Chroma RGB lighting effects..</p>
        </div>
        <div class="col-4 text-center">
            <img src="/img/mini2_img2.jpg" class="img-fluid mb-5" alt="second_mini_image">
            <h4 class="green-font roboto-bold">DETACHABLE TYPE-C CABLE</h4>
            <h5 class="roboto-bold my-3">Easier Setup and Storage</h5>
            <p class="grey-font">Unpack, plug and play with minimal fuss for all your LAN parties and tournaments, while a cable latch ensures that it stays securely connected during gameplay</p>
            <p class="grey-font xsmall-font">For those keen on customization, tailor the keyboard to suit your style by replacing its stock cable with our <a href="" class="green-font">Razer PBT Keycap + Coiled Cable Upgrade Set</a>—available in 4 striking colors.</p>
        </div>
        <div class="col-4 text-center">
            <img src="/img/mini2_img3.jpg" class="img-fluid mb-5" alt="third_mini_image">
            <h4 class="green-font roboto-bold">ALUMINUM CONSTRUCTION</h4>
            <h5 class="roboto-bold my-3">Greater Durability</h5>
            <p class="grey-font">The casing is robust enough to withstand long hours of intense, regular use and has a clean matte finishing.</p>
        </div>
    </div>
</div>