<img src="/img/img1.jpg" class="img-fluid mb-5" alt="first_image">
<div class="container d-flex justify-content-center text-center mb-5">
    <div class="col-8">
        <h5 class="medium-font roboto-light">RAZER HUNTSMAN MINI ANALOG</h5>
        <h1 class="big-font roboto-bold green-font">MINIMAL FORM.<br>MAXIMUM PRECISION.</h1>
        <p class="small-font roboto-medium grey-font">With the Razer Huntsman Mini Analog, the highest level of control now competes on a different scale. Meet our first 60% gaming keyboard with Razer Analog Optical Switches—a compact, portable weapon that offers the finest degree of execution.</p>
    </div>
</div>
<img src="/img/img2.jpg" class="img-fluid mb-5" alt="second_image">
