<div class="bg-grey">
    <div class="container mt-5">
        <div class="row py-5 d-flex align-items-center justify-content-center">
            <div class="col-4 text-center">
                <h1 class="green-font roboto-light">2 Years</h1>
                <h1 class="green-font roboto-light">Warranty</h1>
            </div>
            <div class="col-8">
                <h3 class="green-font roboto-light">WE’VE GOT YOU COVERED</h3>
                <p class="roboto-medium grey-font">Get up to 2 years of warranty and access reliable tech <a href="">support</a>. Purchase directly from RazerStore and get 14 days risk-free returns.</p>
            </div>
        </div>
    </div>
</div>