<div class="bg-img6 d-flex align-items-center justify-content-center">
    <div class="container mt-5">
        <div class="row">
            <div class="col text-center">
                <h1 class="green-font big-font roboto-bold">2 Years Warranty</h1>
                <h3 class="roboto-light py-3">WE’VE GOT YOU COVERED</h3>
                <p class="roboto-bold">Get up to 2 years of warranty and access reliable tech <a href="" class="green-font">support</a>. Purchase directly from RazerStore and get 14 days risk-free returns.</p>
            </div>
        </div>
    </div>
</div>