<div class="container text-center px-5 spacing-y">
    <h2 class="big-medium-font green-font roboto-bold">DOUBLESHOT PBT KEYCAPS WITH SIDE-PRINTED SECONDARY FUNCTIONS</h2>
    <h5 class="medium-font roboto-bold my-3">Premium, Textured Quality</h5>
    <p class="small-font grey-font">Designed for greater durability, the keycaps on this 60% gaming keyboard have a premium, textured quality that’ll never degrade to a shiny finish or have their labelling wear off with intense use. For easier reference when executing commands and hotkeys, side-printed secondary functions have also been added.</p>
</div>
<img src="/img/img4.jpg" class="img-fluid" alt="img4">